@use 'bootstrap';
@use 'bootstrap-icons';
@use 'bootstrap-react-logic';

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.text-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 8;
  line-clamp: 8;
}

.leading-none {
  line-height: 1;
}

.leading-tight {
  line-height: 1.25;
}

.leading-snug {
  line-height: 1.375;
}

.leading-normal {
  line-height: 1.5;
}

.leading-relaxed {
  line-height: 1.625;
}

.leading-loose {
  line-height: 2;
}

.px-075 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-037 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
